@model List<Referans>
@{
    ViewData["Title"] = "Referanslar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="card">
    <div class="card-title">Referanslar</div>
    <div class="card-list reference-list">
        @foreach (var item in Model)
        {
            <div class="card-item">
                <div class="reference-header">
                <img src="@item.ResimUrl" alt="@item.AdSoyad">
                <div class="reference-person">@item.AdSoyad - @item.Sirket (@item.Pozisyon)</div>
            </div>
            <div class="reference-text">@item.Metin</div>
        </div>}
    </div>
</div>
